@tailwind base;
@tailwind components;
@tailwind utilities;



.grid-item {
    width: 33%; /* for three columns, adjust as necessary */
    padding: 5px; /* or any space you want between images */
    box-sizing: border-box; /* to include padding in the width */
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Spinner for the website */

#spinner {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 200px; /* adjust as needed */
    height: 184px; /* adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 100%;
    height: 100%;
}

.loader p {
    margin-top: 10px; /* adjust as needed */
    font-size: 1.5rem; /* adjust as needed */
    color: white;
}